<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>TP Images Manager</title>
    <!-- Favicons-->
    <link rel="icon" href="{{ asset('Admin/images/adictiz-logo.png') }}" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('Admin/images/adictiz-logo.png') }}">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="{{ asset('Admin/images/adictiz-logo.png') }}">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="{{ asset('Admin/css/materialize.min.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection">
    <link href="{{ asset('Admin/css/style.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ asset('Admin/css/font-awesome.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="{{ asset('Admin/css/custom/custom.min.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    {% block PLUGIN %}
    {% endblock %}
    <link href="{{ asset('Admin/js/plugins/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css"
          rel="stylesheet" media="screen,projection">
    <link href="{{ asset('Admin/js/plugins/jvectormap/jquery-jvectormap.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection">
    <link href="{{ asset('Admin/js/plugins/chartist-js/chartist.min.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection">
</head>

<body>
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color blue">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><h1 class="logo-wrapper"><a href="" class="brand-logo darken-1"><span class="logo-text">Sigma Admin</span></a> </h1></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i
                                    class="mdi-action-settings-overscan"></i></a>
                    </li>
                </ul>
                <!-- translation-button -->
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
            <!--start container-->
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2017 <a class="grey-text text-lighten-4"
                                href="#!" target="_blank"></a>
            All rights reserved.
            <span class="right"> Design and Developed by <a class="grey-text text-lighten-4"
                                                            href="#!">Ghassen Jenana</a></span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
<!-- ================================================
Scripts
================================================ -->

<!-- jQuery Library -->
<script type="text/javascript" src="{{ asset('Admin/js/plugins/jquery-1.11.2.min.js') }}"></script>
<!--materialize js-->
<script type="text/javascript" src="{{ asset('Admin/js/materialize.min.js') }}"></script>
<!--scrollbar-->
<script type="text/javascript"
        src="{{ asset('Admin/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<!-- sparkline -->
<script type="text/javascript" src="{{ asset('Admin/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Admin/js/plugins/sparkline/sparkline-script.js') }}"></script>
<!-- data-tables -->
<script type="text/javascript" src="{{ asset('Admin/js/plugins/data-tables/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('Admin/js/plugins/data-tables/data-tables-script.js') }}"></script>
<!--jvectormap-->
<script type="text/javascript" src="{{ asset('Admin/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('Admin/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
<script type="text/javascript" src="{{ asset('Admin/js/plugins/jvectormap/vectormap-script.js') }}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="{{ asset('Admin/js/plugins.min.js') }}"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="{{ asset('Admin/js/custom-script.js') }}"></script>
{% block Scripts %}
{% endblock %}
</body>
</html>