{% extends "AppBundle::Layout.html.twig" %}
{% block PLUGIN %}
    <link href="{{ asset('Admin/js/plugins/prism/prism.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection">
    <link href="{{ asset('Admin/js/plugins/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css"
          rel="stylesheet" media="screen,projection">
    <link href="{{ asset('Admin/js/plugins/data-tables/css/jquery.dataTables.min.css') }}" type="text/css"
          rel="stylesheet" media="screen,projection">

{% endblock %}
{% block content %}
    <div id="table-datatables">
        <h4 class="header">List Des images</h4>
        <div class="row">
            <div class="col s12 m10 l12">
                <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Date de création</th>
                        <th>Options</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Photo</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Date de création</th>
                        <th>Options</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for image in images %}
                        <tr>
                            <td><img height="50" width="50" src="{{image.url}}"/></td>
                            <td>{{ image.titre }}</td>
                            <td>{{ image.description }}</td>
                            <td>{{ image.datecreation|date('Y-m-d H:i')  }}</td>
                            <td>
                                <a href="{{ path('updateimage', { 'id': image.id }) }}" class="waves-effect waves-light btn-flat "><i class="mdi-editor-border-color right"></i></a>
                                <a href="{{ path('deleteimage', { 'id': image.id }) }}" class="waves-effect waves-light btn-flat "><i class="mdi-action-delete left"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Floating Action Button -->
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a href="{{ path('addimage') }}" class="btn-floating blue btn-large">
            <i class="mdi-content-add"></i>
        </a>
    </div>
{% endblock %}