{% extends "AppBundle::Layout.html.twig" %}
{% block PLUGIN %}

{% endblock %}
{% block content %}
    <div class="col s12 m12 l6">
        <div class="card-panel">
            <h4 class="header2">Add Tv</h4>
            <div class="row">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <form class="col s11">
                    <div class="row">
                        <div class="input-field col s11">
                            <i class="mdi-action-label prefix"></i>
                            {{ form_widget(form.titre) }}
                            {{ form_errors(form.titre) }}
                            <label for="first_name">Libelle</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s11">
                            <i class="mdi-communication-comment prefix"></i>
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                            <label for="description">Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s11">
                            <i class="mdi-communication-comment prefix"></i>
                            {{ form_widget(form.url) }}
                            {{ form_errors(form.url) }}
                            <label for="description">URL</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.update) }}
                        </div>
                    </div>
                </form>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}